body {
	text-align: center;
	background-color: Khaki;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}
#footer{
	font-size:smaller;
}
.center-text {
	text-align:center;
}
.pagination {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.pagination li {
  	display: inline-block;
  	font-size: 15px;
  	padding: 15px;
}